packages: [
  "angular-jonpapa-snippets"
  "angularjs"
  "atom-material-contrast-syntax"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-ui"
  "atom-ungit"
  "autoclose-html"
  "creative-dark-syntax"
  "emmet"
  "expand-region"
  "file-icons"
  "fonts"
  "git-control"
  "glacier-dark-syntax"
  "glacier-dark-ui"
  "imdone-atom"
  "imdone-atom-github"
  "improved-chester-atom-syntax"
  "json-colorer"
  "linter"
  "linter-eslint"
  "linter-jscs"
  "linter-jshint"
  "material-monokai-syntax"
  "merge-conflicts"
  "package-sync"
  "pigments"
  "pretty-json"
  "project-manager"
  "seti-syntax"
  "seti-ui"
  "Sublime-Style-Column-Selection"
  "tool-bar"
  "tool-bar-almighty"
]
